In [6]:
"""
Analysis program for cou2018.xxx data.

cou2018.xxx:
    Title: Measurement of the strontium triplet Rydberg series by depletion spectroscopy of ultracold atoms
    Authors: Luc Couturier, Ingo Nosske, Fachao Hu, Canzhu Tan, Chang Qiao, Y. H. Jiang, Peng Chen, Matthias Weidemüller
    DOI: 
    URL: https://arxiv.org/abs/1810.07611
"""

'\nAnalysis program for cou2018.xxx data.\n\ncou2018.xxx:\n    Title: Measurement of the strontium triplet Rydberg series by depletion spectroscopy of ultracold atoms\n    Authors: Luc Couturier, Ingo Nosske, Fachao Hu, Canzhu Tan, Chang Qiao, Y. H. Jiang, Peng Chen, Matthias Weidemüller\n    DOI: \n    URL: https://arxiv.org/abs/1810.07611\n'

In [7]:
import os.path
import numpy as np
import pandas as pd

In [ ]:
# Constants
SoL = 299792458

# Names of data files in source/ subdirectory
DATA_FILES = [os.path.join('source','cou2018-table_2.csv'),
              os.path.join('source','cou2018-table_3.csv'),]

COLUMNS = {'n':            int(),
           'Series':       str(),
           'E_exp':        float(),
           'E_exp_unc':    float()}

In [9]:
df_output = pd.DataFrame(columns=COLUMNS)

data = pd.read_csv(DATA_FILES[0])

In [10]:
data

     n Series       E_exp  E_exp_unc
0   13    3S1  1341500517         10
1   14    3S1  1347874127         10
2   15    3S1  1352673833         10
3   16    3S1  1356377995         10
4   17    3S1  1359296416         10
5   18    3S1  1361636650         10
6   19    3S1  1363541952         10
7   20    3S1  1365113813         10
8   21    3S1  1366425741         10
9   22    3S1  1367532054         10
10  23    3S1  1368473584         10
11  24    3S1  1369281502         10
12  25    3S1  1369979949         10
13  26    3S1  1370587852         10
14  27    3S1  1371120204         10
15  28    3S1  1371589028         10
16  29    3S1  1372004044         10
17  30    3S1  1372373187         10
18  31    3S1  1372702970         10
19  32    3S1  1372998803         10
20  33    3S1  1373265188         10
21  34    3S1  1373505903         10
22  35    3S1  1373724155         10
23  36    3S1  1373922642         10
24  37    3S1  1374103691         10
25  38    3S1  1374269280         10
26  39    3S1  1374421124         10
27  40    3S1  1374560698         10
28  41    3S1  1374689300         10
29  42    3S1  1374808037         10
30  43    3S1  1374917901         10
31  44    3S1  1375019753         10
32  45    3S1  1375114353         10
33  46    3S1  1375202375         10
34  47    3S1  1375284413         10
35  48    3S1  1375360997         10
36  49    3S1  1375432602         10
37  50    3S1  1375499653         10